<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tribuo - <%= employee_first_name %> <%= employee_last_name %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/2100570a36.js"
      crossorigin="anonymous"
    ></script>
    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Tamma+2:700&display=swap"
      rel="stylesheet"
    />

    <!-- styling -->
    <link rel="stylesheet" href="/style/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <div class="col-3 pr-0 mr-0 bggreen borderR" id="sidebar-wrapper">
          <div class="centerimg sidebar-heading">
            <img
              class="logo borderbot centerimg"
              src="/images/TRIBUO.png"
              alt=""
            />
          </div>
          <div class="list-group list-group-flush bggreen">
            <div class="profileimg-container bggreen">
              <img
                class="profileimg"
                src="http://placecorgi.com/180/180"
                alt=""
              />
            </div>
            <div class="profilecontent-con">
              <h6 class="profilecontent id-holder" id="<%= employee_id%>">
                <%= employee_first_name %> <%= employee_last_name %>
              </h6>
            </div>
            <div class="profilecontent-con">
              <p class="profilecontent profilesize"><%= department_title %></p>
            </div>
            <a
              href="#"
              style="color: white; text-decoration: none;"
              class="list-group-items list-group-items-action bordertop"
              ><i class="iconColor fas fa-tasks"></i
            ></a>
            <a
              href="#"
              style="color: white; text-decoration: none;"
              class="list-group-items list-group-items-action bordertop"
              ><i class="iconColor far fa-comments"></i
            ></a>
            <a
              href="#"
              style="color: white; text-decoration: none;"
              class="list-group-items list-group-items-action bordertop borderbot"
              ><i class="iconColor fas fa-users"></i
            ></a>
          </div>
        </div>
        <!-- /sidebar -->
        <!-- page content -->
        <div class="col-9" style="padding-right: -15px;">
          <div class="row nav-row">
            <!-- navbar -->
            <div class="main-navbar-container">
              <nav class="navbar navbar-light bggreen borderbot">
                <div
                  style="color: white; text-align: center; font-size: 20px; padding-top: 5px;"
                  class="font-baloo"
                >
                  Hello, <%= employee_first_name %>
                </div>
                <div class="top-navbar">
                  <button class="logoutbtn" id="menu-toggle">Sign out</button>
                </div>
              </nav>
            </div>
            <!-- /navbar -->
          </div>

          <!-- content side left -->
          <div class="row employeedashboardcontent mr-0">
            <div class="container dash-content content-border some-content">
              <div class="employee-container">
                <h3 style="color: #006CF8;" class="font-baloo">
                  <%= department_title %> Tasks:
                </h3>

                <form class="select-tasks">
                  <% taskInfo.forEach((task)=>{ %>
                  <input
                    class="messageCheckbox"
                    type="radio"
                    name="tasks"
                    value="<%= task.id %>"
                    id="<%= task.id %>"
                  />
                  <label for="<%= task.id %>"> <%= task.task_title %></label
                  ><br />
                  <% }) %>
                  <button
                    class="claim-task onpagebtn"
                    value="submit"
                    type="submit"
                  >
                    Claim Task
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- /content side left -->
          <!-- content side right -->
          <div class="row employeedashboardcontent mr-0">
            <div class="container dash-content content-border some-content">
              <div class="employee-container">
                <form id="form" class="form add-task-form">
                  <h3 style="color: #006CF8;" class="font-baloo">Add Task:</h3>

                  <div class="form-control" style="height: auto; width: 100%;">
                    <label for="department">Task Title: </label><br />
                    <input
                      type="text"
                      id="task_title"
                      name="task_title"
                      placeholder="Enter a title for the task."
                      size="50"
                    /><br /><br />
                    <label for="department">Task Instructions: </label><br />
                    <textarea
                      type="text"
                      id="task_instruction"
                      name="task_instruction"
                      placeholder="Enter Instructions."
                      size="100"
                    >
                    </textarea>
                  </div>

                  <button
                    value="submit"
                    type="submit"
                    class="add-task onpagebtn"
                    style="margin-top: 5px;"
                  >
                    Submit
                  </button>
                </form>
              </div>
            </div>
            <div class="row employeedashboardcontent mr-0"></div>
            <!-- content side right -->
          </div>
          <div class="row employeedashboardcontent mr-0">
            <div class="container dash-content content-border some-content">
              <div class="your-tasks">
                <div class="employee-container">
                  <h3 style="color: #006CF8;" class="font-baloo">
                    <%= employee_first_name %>'s Tasks:
                  </h3>
                  <form class="select-specific-tasks">
                    <% specificTaskInfo.forEach((specificTask)=>{ %>
                    <input
                      class="messageSubmitCheckbox"
                      type="radio"
                      name="specificTasks"
                      value="<%= specificTask.id %>"
                      id="<%= specificTask.id %>"
                    />
                    <label for="<%= specificTask.id %>">
                      <%= specificTask.task_title %></label
                    >
                    <div><%= specificTask.task_instruction %></div>
                    <% }) %>
                    <button
                      class="finish-task onpagebtn"
                      value="submit"
                      type="submit"
                    >
                      Finish Task
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/js/employee.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
